{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}
    {% include 'nav/nav.html.twig' %}
    <h1>Campus</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('campus_show', {'id': campus.id}) }}">regarder</a>
                    <a class="btn btn-primary" href="{{ path('campus_edit', {'id': campus.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('campus_new') }}">Créer un campus</a>
{% endblock %}
