{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_heure_debut</th>
                <th>Duree</th>
                <th>Date_limite_inscription</th>
                <th>Nb_inscription_max</th>
                <th>Infos_sortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">voir</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Créer nouveau</a>
{% endblock %}
