{% extends 'base.html.twig' %}

{% block title %}Etat{% endblock %}

{% block body %}
    <h1>Etat</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.id }}</td>
                <td>{{ etat.libelle }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('etat_show', {'id': etat.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('etat_edit', {'id': etat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('etat_new') }}">Créer nouveau</a>
{% endblock %}
